.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.spacer {
  width: 3px;
}

.subSpacer {
  width: 12px;
}

.bgText {
  color: rgb(162, 162, 162);
  mix-blend-mode: difference;
}

/* IMPORTED */
.priority {
  width: 3px;
  border-right: 3px;
  margin-right: 3px;
}

.priority1 {
  background-color: #D1453B;
}

.priority2 {
  background-color: #ffcc00;
}

.priority3 {
  background-color: #6fddff;
}

.priority4 {
  background-color: #d8d8d8
}

/* DUE DATE STUFF */
.dueDate {
  width: 1%;
  white-space: nowrap;
  padding: 0 0 0 10px;
}

.overdue {
  text-decoration: underline #ac0000;
}

.today {
  text-decoration: underline #03a05c;
}

.tomorrow {
  text-decoration: underline #166cec;
}
/* END END END END */

/* StrikeThrough and Disappear Setup */
td {
  position: relative;
}

tr.strikethrough td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

.disappear {
  display: none !important;
}

/* Table Setup */
.divTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

.divTableRow {
  width: 100%;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell, .divTableHead {
  display: table-cell;
  vertical-align: middle;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}
