/*#region Text Alignment */
.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}
/*#endregion*/

/*#region Spacer Setup */
.spacer {
  width: 3px;
}

.subSpacer {
  width: 1px;
}
/*#endregion*/

/*#region Text Setup */
.bgText {
  color: rgb(162, 162, 162);
  mix-blend-mode: difference;
}
/*#endregion*/

/*#region Priority & Status Setup */
.priority, .statusNoText {
  width: 3px;
  border-right: 3px;
  margin-right: 3px;
}
/*#endregion*/

/*#region Due Date Setup */
.dueDate {
  width: 1%;
  white-space: nowrap;
  padding: 0 0 0 10px;
}

.overdue {
  text-decoration: underline #ac0000;
}

.today {
  text-decoration: underline #03a05c;
}

.tomorrow {
  text-decoration: underline #166cec;
}
/*#endregion*/

/*#region StrikeThrough and Disappear Setup */
td {
  position: relative;
}

tr.strikethrough td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}
/*#endregion*/

/*#region Table Setup */
.divTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

table, th, td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.divTableRow {
  width: 100%;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell, .divTableHead {
  display: table-cell;
  vertical-align: middle;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}
/*#endregion*/
